.App {
  height: 100% ;
}
#main{
  height: 100% ;
  background-color: #00a0a0;
}
.BookCard{
  box-shadow: 5px 3px 20px gray ;
}
textarea{ 
  resize: none !important;
  height: 100px;
}
#formdiv{
  width: 40% ;
}
label{
  color: whitesmoke;
  opacity: 90%;
}

#addbookheading{
  color: whitesmoke;
  text-shadow:  1px 1px 7px gray ;
}
/* input, select, textarea{
  box-shadow: 5px 5px 10px gray ;
} */

.inputs{
  box-shadow: 5px 5px 10px gray ;
}

#titleimg{
  height: 500px;
}

#threedots{
  border: transparent !important;
}

.BookCardImage{
  height: 300px;
  width: 100%;
  left: 0;
  position: relative;
}

.BookCardImage:hover,.BookCardImage:focus{
  height: 330px;
  width: 110%;
  transition: 0.3s ease;
  left: -5%;
  top: -5%;
}
